@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
:root{
    --off-white: #F3F4F6;
    --dark-gray:  #D1D5DB;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;}
textarea { 
            width: 80%;
            height: 15vh;
            display: block;
            margin: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            font-size:large;
            font-family: 'Langar', cursive;
        }
 #output {background-color: #D1D5DB;
    color: black;
            border: 1px solid black;
            height: 15vh;
            width: 80%;
            margin: 1rem;
            padding: 1rem;
        border-radius: 1rem;
        font-size:large;
        font-family: 'Langar', cursive;
   }
 .section{ background-image: url(images/bandw.svg);
     max-width: 600px;
     margin:auto;
     padding:1rem;
     border-radius: 1.5rem;
    
 }
 .list-unbulleted-list{
    list-style: none;
 }
 .list-item-inline{
     display: inline;
     padding: 0rem 0.5rem;
 }
 .link{text-decoration: none;
    box-sizing: border-box;
padding: 0.5rem 1rem;}
 .navigation{

    margin:0.5rem 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    font-family:  'Langar', cursive;
    background-color:black;
    color: white;
    border-radius: 1rem;

 }
 #btn{
    margin: 1rem 0.5rem;
     padding:  0.5rem 1rem;
     font-weight: bold;
    font-size: large;
    border-radius: 1rem;
    font-family: 'Langar', cursive;
 }
 .footer{
    font-family: 'Langar', cursive;
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    color: black;
}
.images{
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 1rem;

}   
   
.footer-heading{font-weight: bold;
    font-size: large;
}
.footer .link{
    color:black;
}

.footer ul{
    padding-inline-start: 0px;
}
 .btnt{
    text-align: center;}





